
<div class="container ">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark text-content">
    <!-- Brand -->

    <!-- Links -->
    <ul class="navbar-nav">
        <a class="navbar-brand" href="#" style="margin-left: 10px">FPoly Product Manager</a>
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Product list</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Manager
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Login</a>
                <a class="dropdown-item" href="#">Cart</a>
            </div>
        </li>
    </ul>
</nav>
</div>

